body {
  padding: 0px;
	margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#tweets {
		width: 40%;
		float: left;
		padding: 15px;
		overflow-x: hidden;
}
div#cloud {
		width: 40%;
		float: right;
}
div#cloud svg {
		position: absolute;
}
div.tweet {
}
div.tweet p {
		font-size: 24pt;
}